<html>
    <head>
        <link rel="stylesheet" href="../public/stylesheets/style.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter" />
    </head>
    
    <body class="container_success">
        <div class="logged_in_nav">
        </div>
        <div class="flex">
            <div class="logged_in_div_right">
                <div class="flex_column">
                    <div class="flex width-941px space-between">
                        <div>
                            <p>Profile Details</p>
                        </div>
                        <div>
                            <a href="/logout">
                                <button class="button button-outline">
                                    Log Out
                                </button>
                            </a>
                        </div>
                    </div>
                    <div>
                        <pre id="noborder" class="prettyprint noborder">    
                        <a href="https://bizluru.notion.site/BIZLURU-a7aabd35e23c47aea4e8db1d276bc088">Profile already Registered</a>
                        </pre>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
    </body>
</html>
